body{
	background-color: #F1F1F1;
	font-family: 'Overpass', sans-serif;
}
.main{
    background-image: url(images/0001.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: 0% 60%;
    /* background-origin: padding-box; */
    background-size: cover; 
    background-repeat: no-repeat;
}
.dd-half1{
    width: 45%;
}
.dd-half2{
    width: 55%;
}
.log{
    background: rgba(245, 245, 245, 0.93);
    height: 100vh;
    float: right;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0), 0 4px 20px 0 rgba(0, 0, 0, 0.07);
}
.mpad{
        padding: 23vh 10px;
    margin: 3px 28px;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: black;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 18px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #f5f5f500;
    background-image: none;
    border: none;
    border-radius: 1px;
     -webkit-box-shadow: 0px -3px 2px rgba(0,0,0,0); 
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-bottom: 1px solid #5bc0de;
}
.mpadh2{
    padding: 10px 3%;
    font-size: 13px;
    color: black;
    padding: 5px 3%;
}
.logo-b{
    margin: 0px 161px;
    margin-bottom: 38px;
    width: 156px;
}
@media (min-width: 768px){
    .hidden-sma{
display: none;
    }
}