<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Hrm</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/bootstrap.css">
  <link href="./style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/desire-custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/css?family=Poppins,500|Noto+Sans" rel="stylesheet">
</head>

<body class="hrg">
  
<section class="navsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 full-layer">
          <div class="col-xs-1 menu-bar dispad  clearfix">
            <img src="./images/icons/menu-white.png" class="img-responsive menu-bar">
          </div>
          <div class="col-xs-10 dispad">
            <h2 class="pro-tittle">Beveron Smart Office</h2>
          </div>
        </div>
    </div>
  </div>
</section>
<section class="slide-menu">
  <div class="item col-xs-12 dispad back-btn">
    <i class="fa fa-close"></i>
  </div>
  <div class="item col-xs-12 dispad">
   <a href="./"> <i class="fa fa-home"></i></a>
  </div>
  <div class="item col-xs-12 dispad">
   <a href="#"> <i class="fa fa-users"></i></a>
  </div>
  <div class="item col-xs-12 dispad">
    <a href="#"><i class="fa fa-briefcase"></i></a>
  </div>
  <div class="item col-xs-12 dispad">
    <a href="#"><i class="fa fa-bank"></i></a>
  </div>
  
</section>
<section class="std">
   <div class="container-fluid">
     <div class="boxx">
       <label>List of Hearings</label>
        <table id="t01">
          <tr>
            <th>Case id</th>
            <th>Type</th> 
            <th>Date</th>
            <th>Opposite Party</th>
          </tr>
          <tr>
            <td>2011/114</td>
            <td>Criminal</td>
            <td>26-06-2019</td>
            <td>John</td>
          </tr>
         <tr>
            <td>2011/114</td>
            <td>Criminal</td>
            <td>26-06-2019</td>
            <td>John</td>
          </tr>
          <tr>
            <td>2011/114</td>
            <td>Criminal</td>
            <td>26-06-2019</td>
            <td>John</td>
          </tr>
          <tr>
            <td>2011/114</td>
            <td>Criminal</td>
            <td>26-06-2019</td>
            <td>John</td>
          </tr>
          <tr>
            <td>2011/114</td>
            <td>Criminal</td>
            <td>26-06-2019</td>
            <td>John</td>
          </tr>
        </table>
     </div>
   </div>
</section>


<script src="./js/jquery-3.2.1.slim.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script  src="./js/jquery.easeScroll.js"></script>
<script type="text/javascript" src="./script.js"></script>
<!-- <script type="text/javascript">
   $("#addednavbar").load("./navbar.html");
</script> -->


</body>
</html>
